<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         colors="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         testdox="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Wikitext Builder Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>

<!--    <coverage>-->
<!--        <report>-->
<!--            <html outputDirectory="tests/coverage"/>-->
<!--        </report>-->
<!--    </coverage>-->
</phpunit>
